<?php if ( ! defined( 'KISS' ) ) exit;

/*
|===============================================
| MunkiReport Server Configuration
|===============================================
*/
$conf['index_page'] = 'index.php?';
$conf['sitename'] = '{{ munkireport_site_name }}';
$conf['debug'] = {{ munkireport_debug }};
$conf['timezone'] = @date_default_timezone_get({{ munkireport_time_zone }}); //your time zone see http://php.net/manual/en/timezones.php
$conf['vnc_link'] = "vnc://%s:5900";
$conf['ssh_link'] = "ssh://{{ mac_local_admin_username }}@%s";
ini_set('session.cookie_lifetime', 43200);
$conf['locale'] = 'en_US';
$conf['lang'] = 'en';
$conf['keep_previous_displays'] = TRUE;
$conf['temperature_unit'] = 'F';
$conf['disk_thresholds'] = array('danger' => {{ munkireport_disk_thresholds_danger }}, 'warning' => {{ munkireport_disk_thresholds_warning }});
$conf['request_timeout'] = 15;
$conf['auth_secure'] = TRUE;

// Google Maps API Key
$conf['google_maps_api_key'] = '{{ munkireport_google_maps_api_key }}';

// MunkiReport Modules
$conf['modules'] = array({{ munkireport_modules }});

// MunkiReport Tracked Apps
$conf['apps_to_track'] = array({{ munkireport_apps_to_track }});



/*
|===============================================
| MunkiReport Interface
|===============================================
*/
// Dashboard Layout
$conf['dashboard_layout'] = array({{ munkireport_dashboard_layout }});



/*
|===============================================
| Authorized Users of MunkiReport
|===============================================
| Visit http://{{ munkireport_domain_name }}/munkireport/index.php?/auth/generate to generate additional local values
*/
// MunkiReport User Credentials
{{ munkireport_credentials }}

// MunkiReport Admins
$conf['roles']['admin'] = array({{ munkireport_roles_admins }});

// MunkiReport Users
$conf['roles']['user'] = array({{ munkireport_roles_users }});

// Client Secret Passphrase
$conf['client_passphrases'] = array({{ munkireport_client_passphrases }});


/*
|===============================================
| Database Configuration
|===============================================
*/
$conf['connection'] = [
    'driver'    => 'mysql',
    'host'      => '127.0.0.1',
    'port'      => 3306,
    'database'  => 'munkireport',
    'username'  => 'mysql_munkireport_user',
    'password'  => '{{ mysql_munkireport_password }}',
    'charset' => 'utf8mb4',
    'collation' => 'utf8mb4_unicode_ci',
    'strict' => true,
    'engine' => 'InnoDB',
];
