#!/bin/bash


# Variables

CERT_INSTALLED=$(if [ -d /etc/letsencrypt/live/{{ munkireport_domain_name }} ]; then echo 'True'; else echo 'False'; fi)

CONFIG_INSTALLED=$(if [ -f /etc/nginx/snippets/ssl-nginx-params.conf ]]; then echo 'True'; else echo 'False'; fi)

SSL=$(
    if [[ -d /etc/letsencrypt/live/{{ munkireport_domain_name }} && -f /etc/nginx/snippets/ssl-nginx-params.conf ]];
    then
        echo 'https';
    else
        echo 'http';
    fi
)

BECOME=$(
    if [[ -d {{ munkireport_directory }} ]];
    then
        echo `ls -ld {{ munkireport_directory }} | awk 'NR==1 {print $3}'`;
    else
        echo 'root';
    fi
)


# Facts

echo [letsencrypt]
echo cert_installed=$(echo "$CERT_INSTALLED")
echo config_installed=$(echo "$CONFIG_INSTALLED")

echo [security]
echo ssl=$(echo "$SSL")

echo [repo]
echo become=$(echo "$BECOME")
